* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  }

body {
  background-color: #f4f8fb;
  padding: 20px;  
}

.navbar {
  background-color: rgb(84, 176, 241);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #87ceeb;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 14px;
}